@using InventoryManagement.Repository
@model AdminInfo
@{
    ViewData["Title"] = "Profile";

    var isSalesmen = User.IsInRole("SalesPerson");
    Layout = isSalesmen ? "_SalesmanLayout" : "_AdminLayout";
}

@section Styles{
<style>
    .file-field input.file-path { font-size: .87rem; font-weight: 300; }
</style>
 }

<section class="section team-section p-4">
    @if (!string.IsNullOrEmpty(Context.Request.Query["Message"]))
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @Context.Request.Query["Message"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    <div class="row">
        <div class="col-md-8 mb-4">
            <div class="card card-cascade cascading-admin-card user-card">
                <div class="admin-up d-flex justify-content-start mb-3">
                    <i class="fas fa-user-circle deep-orange lighten-2 py-4 mr-3 z-depth-2"></i>
                    <div class="data pt-2">
                        <h5 class="font-weight-bold dark-grey-text">
                            Edit Profile - <span class="text-muted"> Complete your profile</span>
                        </h5>
                    </div>
                </div>
                <form asp-action="Profile">
                    <div class="card-body card-body-cascade">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="md-form form-sm mb-0">
                                    <input required asp-for="Name" class="form-control form-control-sm"/>
                                    <label for="Name">Name</label>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="md-form form-sm mb-0">
                                    <input asp-for="FatherName" class="form-control form-control-sm"/>
                                    <label for="FatherName">Father's Name</label>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12">
                                <div class="md-form form-sm mb-0">
                                    <input asp-for="Designation" class="form-control form-control-sm"/>
                                    <label for="Designation">Designation</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-3">
                                <div class="md-form form-sm mb-0">
                                    <input asp-for="Phone" class="form-control form-control-sm"/>
                                    <label for="Phone">Phone</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="md-form form-sm mb-0">
                                    <input asp-for="Address" class="form-control form-control-sm"/>
                                    <label for="Address">Address</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="md-form form-sm mb-0">
                                    <input asp-for="DateofBirth" class="form-control form-control-sm"/>
                                    <label for="DateofBirth">Date of Birth</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-4 col-md-12">
                                <div class="md-form form-sm mb-0">
                                    <input asp-for="Email" class="form-control form-control-sm"/>
                                    <label for="Email" class="">Email</label>
                                </div>
                            </div>

                            <div class="col-lg-8 col-md-12">
                                <div class="md-form form-sm mb-0">
                                    <input type="hidden" id="Image" name="Image"/>
                                    <div class="file-field">
                                        <div class="btn btn-outline-warning btn-rounded btn-sm float-left">
                                            <span><i class="fas fa-upload mr-2" aria-hidden="true"></i>Choose photo</span>
                                            <input type="file" id="upload" value="Choose a photo" onchange="clearImage(this)">
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text" placeholder="Upload photo"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="w-50 m-auto text-center">
                                    <div id="upload-demo" style="display: none;"></div>
                                    <img id="prevImage" alt=""/>
                                    <a id="doneButton" class="btn-floating btn-lg btn-black" style="display: none;"><i class="fas fa-crop-alt"></i></a>
                                </div>
                            </div>
                        </div>
                        <input type="submit" value="Update" class="btn peach-gradient btn-rounded waves-effect"/>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card profile-card">
                <div class="avatar z-depth-1-half mb-4">
                    @{
                        var imgSrc = "";
                        imgSrc = Model.Image != null ? $"data:image/gif;base64,{Convert.ToBase64String(Model.Image)}" : "/images/defaultImage.jpg";
                    }

                    <img src="@imgSrc" class="rounded-circle" style="height: 150px; width: 150px" alt=""/>
                </div>
                <div class="card-body pt-0 mt-0">
                    <div class="text-center">
                        <h4 class="mb-1 font-weight-bold"><strong>@Model.Designation</strong></h4>
                    </div>
                    <ul class="striped list-unstyled">
                        <li><strong>Name:</strong> @Model.Name</li>
                        <li><strong>Father's Name:</strong> @Model.FatherName</li>
                        <li><strong>Email:</strong> @Model.Email</li>
                        <li><strong>Phone:</strong> @Model.Phone</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        let opt = {
            viewport: { width: 150, height: 150 },
            boundary: { width: 180, height: 180 },
            showZoomer: false,
            enableResize: true,
            enableOrientation: true
        };

        let $cropContainer = $('#upload-demo');
        let $uploadCrop = $cropContainer.croppie(opt);
        const $photo = $('#Image');
        const $preview = $('#prevImage');
        const $btnDone = $('#doneButton');

        $('input[type="file"]').change(function (e) {
            const $this = $(e.target);
            const $fileField = $this.closest('.file-field');
            const $pathInput = $fileField.find('input.file-path');
            const fileNames = [];

            fileNames.push(e.target.files[0].name);

            $pathInput.val(fileNames.join(', '));
            $pathInput.trigger('change');
        });

        $('#upload').on('change', function () {
            readFile(this);
        });

        $btnDone.on('click', function () {
            $uploadCrop.croppie('result', { type: 'base64' }).then(function (res) {
                $photo.val(res.split(',')[1]);
                $cropContainer.hide();
                $btnDone.hide();
                $preview.attr('src', res).addClass('img-thumbnail rounded-circle');;
            });
        });

        function readFile(input) {
            if (input.files && input.files[0]) {
                const reader = new FileReader();

                reader.onload = function (e) {
                    $uploadCrop.croppie('bind', { url: e.target.result });

                    $photo.val('');
                    $cropContainer.show();
                    $btnDone.show();
                    $preview.attr('src', '').removeClass('img-thumbnail rounded-circle');
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        function clearImage(ctrl) {
            if ($(ctrl).val() === "") {
                $cropContainer.croppie('destroy');
                $uploadCrop = $cropContainer.croppie(opt);
            }
        }
    </script>
}