@using InventoryManagement.Repository
@model IEnumerable<ExpenseAllViewModel>
@{
    ViewData["Title"] = "Expense Category Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    var from = Context.Request.Query["from"];
    var to = Context.Request.Query["to"];
    var separator = !string.IsNullOrEmpty(to) && !string.IsNullOrEmpty(from) ? " - " : "";
}

<div class="m-md-3">
    <div class="card card-body">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <div>
                <h4 class="page-header">
                    Expense Details: <small>@Model.FirstOrDefault()?.ExpenseCategory</small>
                </h4>
                <em>@from @separator @to</em>
            </div>
            <div class="text-right">
                <h5 id="totalAmount" class="mb-0 font-weight-bold">
                    Total: ৳@Model.Sum(t => t.ExpenseAmount)
                </h5>
                <a href="/Expenses/ExpenseReport" class="d-print-none"><i class="fas fa-long-arrow-alt-left mr-1"></i>Back to Previous</a>
            </div>
        </div>

        <div class="table-responsive">
            <table id="data-table" class="table table-sm table-bordered">
                <thead>
                    <tr>
                        <th>Voucher No</th>
                        <th>Amount</th>
                        <th class="text-left">Expense&nbsp;For</th>
                        <th>Expense&nbsp;Date</th>
                        <th>Posted By</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @if (item.IsTransportation)
                                {
                                <a class="blue-text" href="/Expenses/TransportationCostDetails/@item.Id"> @item.VoucherNo</a>
                                }
                                else
                                {
                                    @item.VoucherNo
                                }
                            </td>
                            <td class="text-right">৳@item.ExpenseAmount.ToString("#.##")</td>
                            <td class="text-left">@item.ExpenseFor</td>
                            <td>@item.ExpenseDate.ToString("d MMM yyyy")</td>
                            <td>@item.CreateBy</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

