@using InventoryManagement.Repository
@model IEnumerable<CustomerListViewModel>

@{
    ViewData["Title"] = "Customers";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

    <div class="card card-body m-md-3">
        
        <div class="row">
            <div class="col justify-content-center align-self-center">
                <h4 class="page-header mb-3">Customers</h4>
            </div>
            <div class="col text-right">
                <a id="CreateClick" href="/Customer/Add" class="btn-floating peach-gradient" title="Add New">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </a>
            </div>
        </div>

        <table id="data-table" class="table table-sm table-bordered nowrap">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Mobile</th>
                    <th>Org. Name</th>
                    <th>Address</th>
                    <th>Signup Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                <tr>
                    <td>@item.CustomerName</td>
                    <td>@item.CustomerPhone</td>
                    <td>@item.OrganizationName</td>
                    <td>@item.CustomerAddress</td>
                    <td>@item.InsertDate</td>
                </tr>
                }
            </tbody>
        </table>
    </div>