@using InventoryManagement.Repository
@model IEnumerable<CustomerListViewModel>

@{
    ViewData["Title"] = "Customers";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Styles{
    <style>
        .corporate-field { display: none }
    </style>
}

<div class="m-md-3">
    <div class="row">
        <div class="col justify-content-center align-self-center">
            <h4 class="page-header mb-0">Customers</h4>
        </div>
        <div class="col text-right">
            <a id="CreateClick" href="/Customer/Add" class="btn-floating peach-gradient" title="Add New">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </a>
        </div>
    </div>

    <div class="card card-body">
        <div class="mb-3">
            <div class="custom-control custom-radio custom-control-inline">
                <input id="radioIndividual" name="IsIndividual" value="true" checked type="radio" class="custom-control-input" onchange="radioSelected(this)">
                <label class="custom-control-label" for="radioIndividual">Individual</label>
            </div>

            <div class="custom-control custom-radio custom-control-inline">
                <input id="radioCorporate" name="IsIndividual" value="false" type="radio" class="custom-control-input" onchange="radioSelected(this)">
                <label class="custom-control-label" for="radioCorporate">Corporate</label>
            </div>
        </div>

        <div class="table-responsive">
            <table id="data-table" class="table table-sm table-bordered">
                <thead>
                    <tr>
                        <th>
                            <span class="individual-field">Name</span>
                            <span class="corporate-field">Concerned Person</span>
                        </th>
                        <th>Mobile&nbsp;(Primary)</th>
                        <th>
                            <span class="individual-field">Working Station</span>
                            <span class="corporate-field">Corporate Name</span>
                        </th>
                        <th>Address</th>
                        <th>Description</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-left">@item.CustomerName</td>
                            <td>@item.PhonePrimary</td>
                            <td class="text-left">@item.OrganizationName</td>
                            <td class="text-left">@item.CustomerAddress</td>
                            <td class="text-left">@item.Description</td>
                            <td><a class="fas fa-edit" href="/Customer/Update/@item.CustomerId"></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(function() {
            $("#data-table").DataTable()
        });


        //$('#example').DataTable({
        //    "processing": true,
        //    "serverSide": true,
        //    "ajax": {
        //        "url": "scripts/server_processing.php",
        //        "data": function(d) {
        //             d.custom = $('#myInput').val();
        //        }
        //    }
        //});


        //show hide field
        function radioSelected(evt) {
            const individual = document.querySelectorAll('.individual-field')
            const corporate = document.querySelectorAll('.corporate-field')

            if (evt.value === 'true') {
                individual.forEach(item => {
                    item.style.display = 'block';
                })

                corporate.forEach(item => {
                    item.style.display = 'none';
                })
            } else {
                individual.forEach(item => {
                    item.style.display = 'none';
                })

                corporate.forEach(item => {
                    item.style.display = 'block';
                })
            }
        };
    </script>
}