@using InventoryManagement.Repository
@model RegisterViewModel
@{
    ViewData["Title"] = "Sign Up Sub-Admin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@section Styles {
    <link href="~/css/Login.css" rel="stylesheet" />
}

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-6 mx-auto">
            <div class="card card-signin my-3">
                <div class="card-body">
                    <h5 class="card-title text-center">Sign Up Sub-Admin</h5>
                    <form class="form-signin" asp-controller="SubAdmin" asp-action="SignUp" method="post">
                        <div class="form-group">
                            <label>Name</label>
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label>User Name</label>
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label>Phone</label>
                            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label>Address</label>
                            @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label>Confirm Password</label>
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <button class="btn btn-lg aqua-gradient btn-block text-uppercase" type="submit">Sign Up</button>
                        </div>
                    </form>
                </div>   
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}