@using InventoryManagement.Repository
@model WarrantyReceiptModel
@{
    ViewData["Title"] = "Acceptance Slip";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Styles{
    <link href="~/css/selling-receipt.css?v=1.0.0" rel="stylesheet">
}

<div class="container">
    <h4 class="page-header mb-3">Warranty Slip</h4>

    <div id="receipt">
        <table class="table table-sm table-bordered">
            <tbody>
            <tr>
                <td class="text-right" style="width:100px"><strong>Name</strong></td>
                <td>@Model.CustomerName</td>
                <td class="text-right"><strong>Warranty&nbsp;No.</strong></td>
                <td style="width: 90px">@Model.WarrantySn</td>
            </tr>
            <tr>
                <td class="text-right"><strong>Bill No.</strong></td>
                <td>@Model.SellingSn</td>
                <td class="text-right"><strong>Acceptance&nbsp;Date</strong></td>
                <td>@Model.AcceptanceDate.ToString("d MMM yyyy")</td>
            </tr>
            <tr>
                <td class="text-right"><strong>Purchase Date</strong></td>
                <td>@Model.SellingDate.ToString("d MMM yyyy")</td>
                <td class="text-right"><strong>Cell</strong></td>
                <td>@Model.CustomerPhone</td>
            </tr>
            </tbody>
        </table>
        
        <h5 class="mt-5">Received Product Info</h5>
        <table class="product-tb table table-sm table-bordered">
            <thead>
            <tr>
                <th><strong>Product Type</strong></th>
                <th><strong>Product Details</strong></th>
                <th><strong>Issue</strong></th>
                <th><strong>Serial No</strong></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>@Model.ProductCatalogName</td>
                <td>@Model.ProductName</td>
                <td>@Model.AcceptanceDescription</td>
                <td class="text-center">@Model.ProductCode</td>
            </tr>
            </tbody>
        </table>
        
        @if (Model.DeliveryDescription != null)
        {
            <h5 class="mt-5">Delivery Product Info</h5>
            <table class="product-tb table table-sm table-bordered">
                <thead>
                    <tr>
                        <th><strong>Product Type</strong></th>
                        <th><strong>Product Details</strong></th>
                        <th><strong>Description</strong></th>
                        <th><strong>Serial No</strong></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.ChangedProductCatalogName</td>
                        <td>@Model.ChangedProductName</td>
                        <td>@Model.DeliveryDescription</td>
                        <td class="text-center">@Model.ChangedProductCode</td>
                    </tr>
                </tbody>
            </table>
        }
    </div>
    
    <button class="btn btn-outline-danger d-print-none" onclick="print()">Print</button>
</div>


