@using InventoryManagement.Repository
@model WarrantyAcceptanceReceiptModel
@{
    ViewData["Title"] = "Acceptance Slip";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Styles{
    <link href="~/css/selling-receipt.css?v=1.0.0" rel="stylesheet" />
}

<div class="container">
    <h4 class="page-header mb-3">Acceptance Slip</h4>

    <div id="receipt">
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="text-right" style="width: 50px"><strong>Name</strong></td>
                    <td>@Model.CustomerName</td>
                    <td class="text-right" style="width: 50px"><strong>Warranty&nbsp;No</strong></td>
                    <td style="width: 90px">@Model.WarrantySn</td>
                </tr>
                <tr>
                    <td class="text-right"><strong>Address</strong></td>
                    <td></td>
                    <td class="text-right"><strong>Acceptance Date</strong></td>
                    <td>@Model.AcceptanceDate.ToString("d MMM yyyy")</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="text-right"><strong>Cell</strong></td>
                    <td>@Model.CustomerPhone</td>
                </tr>
            </tbody>
        </table>

        <table class="product-tb table table-sm table-bordered mt-5">
            <thead>
                <tr>
                    <th><strong>Product Type</strong></th>
                    <th><strong>Description</strong></th>
                    <th><strong>Serial No</strong></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.ProductCatalogName</td>
                    <td>@Model.ProductDescription</td>
                    <td class="text-center">@Model.ProductCode</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


