@model InventoryManagement.Repository.PurchaseUpdateGetModel
@{
    ViewData["Title"] = "Update Purchase Bill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Styles{
    <style>
        table tr td p { margin-bottom: 0; color: #777 }

        #showAddedCode { display: flex; flex-wrap: wrap; }
        .code { cursor: pointer }
        #showAddedCode .code-delete { color: #fff; margin: 5px; cursor: pointer }
        #btnAddToList { display: none }

        #payment-area li strong { font-size: 17px; }
        #inputDiscount, #inputPaid, #inputPurchaseDate, #inputMemoNumber { display: inline-block; border-radius: 50px; text-align: right; color: #000; }
        .list-group-item { padding: .75rem 0; }
        .has-error { border: 2px solid #ff0000 }
        .remove { color: #ff0707; cursor: pointer; font-size: 15px; }
        .stock { padding: .18rem .5rem; }

        #product-code-body span > i { font-size: .8rem }
        #vendor-info li { font-size: 17px; line-height: 2.5; }
        #vendor-info li:first-child { border-top: 0 }
        #vendor-info li:last-child { border-bottom: 0 }
        #vendor-info i { color: #8a8383 }

        #errorMessage { display: none }
    </style>
}

<div class="m-md-3">
    <div class="mb-4">
        <h4 class="mb-2 page-header d-print-none">Update Bill #@Model.PurchaseSn</h4>
        <h5 class="mb-0">
            <span class="badge badge-pill purple">@Model.VendorName</span>
            <span class="badge badge-pill purple">@Model.VendorPhone</span>
        </h5>
    </div>

    <section class="card card-body mb-3">
        <div class="row">
            <div class="col-lg-4">
                <form id="formAddCode">
                    <div class="md-form">
                        <input id="inputProductCode" autocomplete="off" class="form-control" type="text" required />
                        <label for="inputProductCode">Product Code</label>
                        <i id="code-exist-error" class="text-danger"></i>
                    </div>
                </form>
            </div>

            <div class="col-lg-8">
                <form id="formProductInfo">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="md-form">
                                <select id="ParentId" name="ParentId" searchable="Search here.." asp-items="ViewBag.ParentId" class="mdb-select" required>
                                    <option value="" disabled selected>Select Category</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="md-form">
                                <select id="selectProductId" name="ProductId" searchable="Search here.." class="mdb-select product-select" required>
                                    <option value="" disabled selected>Brand and Model</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="md-form">
                                <input id="inputPurchasePrice" name="PurchasePrice" class="form-control" step="0.01" type="number" required />
                                <label for="inputPurchasePrice">Purchase Price</label>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="md-form">
                                <input id="inputSellingPrice" name="SellingPrice" class="form-control" step="0.01" type="number" required />
                                <label for="inputSellingPrice">Selling Price</label>
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="md-form">
                                <input id="inputWarranty" name="Warranty" class="form-control" type="text" />
                                <label for="inputWarranty">Warranty</label>
                            </div>
                        </div>

                        <div class="col-lg-9">
                            <div class="md-form">
                                <input id="inputDescription" name="Description" class="form-control" type="text" />
                                <label for="inputDescription">Description</label>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="md-form">
                                <input id="inputNote" name="Note" class="form-control" type="text" />
                                <label for="inputNote">Note</label>
                            </div>
                        </div>
                    </div>
                    
                    <input type="submit" class="btn btn-deep-orange" value="Add Product To Cart"/>
                </form>
            </div>
        </div>
    </section> 

    <div class="card card-body">
        <table class="table">
            <thead>
                <tr>
                    <th><strong>Category</strong></th>
                    <th><strong>Brand and Model</strong></th>
                    <th><strong>Purchase&nbspPrice</strong></th>
                    <th><strong>Selling&nbspPrice</strong></th>
                    <th><strong>Warranty</strong></th>
                    <th><strong>Stock</strong></th>
                    <th style="width: 50px"><strong>Remove</strong></th>
                </tr>
            </thead>
            <tbody id="tbody">
                @foreach (var item in Model.PurchaseList)
                {
                    <tr data-sn="@DateTime.Now.Millisecond">
                        <td>
                            <p class="m-0">category</p>
                            <small class="text-muted">@item.Description</small>
                        </td>
                        <td>
                            <p class="m-0">Prod</p>
                            <small class="text-muted">@item.Note</small>
                        </td>
                        <td>@item.PurchasePrice</td>
                        <td>@item.SellingPrice</td>
                        <td>@item.Warranty</td>
                        <td>
                            @foreach (var stock in item.ProductStocks)
                            {
                                <span class="m-1 stock">
                                    @stock.ProductCode
                                </span>
                            }
                        </td>
                        <td class="text-center">
                            <i class="fal fa-trash-alt remove"></i>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<div>
    <audio id="audio" src="~/audio/buzz.mp3"></audio>
</div>

@section Scripts {
    <script>
        $(function () {
            //date picker
            $('.datepicker').pickadate().val(moment(new Date()).format('DD MMMM, YYYY'));

            // Material Select Initialization
            $('.mdb-select').materialSelect();
        });
    </script>

    <script src="~/page-js/bill-change-purchase.js"></script>
}